<section class="hero d-flex flex-column justify-content-center align-items-center" id="hero">
    <div id="particles-js"></div>
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="hero-text col-12 col-lg-5">
                <div class="row">
                    <div class="hero-icons d-flex gap-lg-3 gap-2 my-lg-3 my-2" data-aos="fade-up" data-aos-delay="100">
                        <a href="{{ link.facebookPage }}" target="_blank"><i class="bi bi-facebook"></i></a>
                        <a href="{{ link.instagramPage }}" target="_blank"><i class="bi bi-instagram"></i></a>
                        <a href="{{ link.tweeterPage }}" target="_blank"><i class="bi bi-twitter-x"></i></a>
                        <a href="{{ link.other }}" target="_blank"><i class="bi bi-youtube"></i></a>
                    </div>
                    <div class="col-12 ">
                        <h2 class="title col-12" data-aos="fade-up" data-aos-delay="150">Excellent IT <span
                                    class="unique-text">solutions</span> for your success </h2>
                    </div>
                    <div class="col-lg-10 col-12" data-aos="fade-up" data-aos-delay="200">
                        <p>
                            At any rate, Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque amet, quod doloribus
                            the framework of the essence represents a bond between the flexible
                            production planning
                        </p>
                    </div>
                    <div class="col-10" data-aos="fade-up" data-aos-delay="250">
                        <a href="#" class="btn">join now</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-7 mx-md-auto text-center" data-aos="fade-left" data-aos-delay="100">
                <div class="hero-image">
                    <div class="hero-img" data-tilt>
                        <img class="img-fluid " alt="hero-img"
                             src="{{ asset('template/images/hero/bodigmas_IT_solutions_company_illustrationvectorflat_designmini_942ad818-e3f4-47af-a5e8-78e030aff9c9-removebg.png') }}">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>